.a-photo {
  height: 16vw;
  width: 16vw;
  margin: 1vw 0vw;
  border: 1vw ridge burlywood;
  border-radius: 10%;
  background-position: center;
  background-size: cover;
}

.like-logo {
  height: 4vw;
  width: 4vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 9.5vw;
  transition: all 300ms ease-in-out;
}

.like-logo:hover {
  scale: 110%;
  cursor: pointer;
}

.liked {
  background-image: url(/public/assets/liked.png);
}

.not-liked {
  background-image: url(/public/assets/not-liked.png);
}
